<form id="signupForm" name = "signupForm">
  <input type="text" name="name" placeholder="Name"/><br/>
  <input type="email" name="email" placeholder="Email/Username"/><br/>
  <input type="password" name="password" placeholder="Password" id="password"/><br/>
  <!-- add later?<input type="password" name="confirm" placeholder="Confirm Password"/> -->
  <input type="text" name="streetAddress" placeholder="Street Address"/><br/>
  <input type="text" name="city" placeholder="City"/><br/>
  <input type="text" name="stateAbbrev" placeholder="State"/><br/>
  <input type="text" name="zipcode" placeholder="Zipcode"/><br/>
  <input type="checkbox" name="isEmployee" id="isEmployee"/>Check if you are an employee
  <input type="checkbox" name="isBilling" id="isBilling" checked/>Same as billing?
  <input id="submit" type="button" value="Create Account"/>
  <div id="billing"></div>
</form>
{{{page.script}}}
