<div class="store">
<h1>{{page.header}}</h1>
</div>

<div id="storeContent">

	<div id="storeByBrand">
		<div id = "tyke"><button>Get Tyke</button></div><br>
		<div id = "babyboo"><button>Get Baby Boo</button></div><br>
		<div id = "bannanademocracy"><button>Get Banana Democracy</button></div><br>
		<div id = "roughrider"><button>Get Rough Rider</button></div><br>
		<div id = "carterclothing"><button>Get Carter Clothing</button></div><br>
		<div id = "levimouse"><button>Get Levi Mouse</button></div><br>
		<div id = "mousesomething"><button>Get Mouse Something</button></div><br>
		<div id = "straussfrock"><button>Get Strauss Frock</button></div><br>
	</div>

	<div id="storeByCategory">
		<div id = "Adult Female"><button>Adult Female</button></div><br>
		<div id = "Jr Female"><button>Jr Female</button></div><br>
		<div id = "Adult Male"><button>Adult Male</button></div><br>
		<div id = "Jr Male"><button>Jr Male</butoon></div><br>
	</div>

	<div id="storeByPrice">
		<div id = "Adult FemalePrice"><button>Adult Female by Price</button></div><br>
		<div id = "Jr FemalePrice"><button>Jr Female by Price</button></div><br>
		<div id = "Adult MalePrice"><button>Adult Male by Price</button></div><br>
		<div id = "Jr MalePrice"><button>Jr Male by Price</butoon></div><br>
	</div>

</div>
{{{page.script}}}
