<h1>{{page.header}}</h1>
<div class="contentContainer">
	<div>{{page}}</div>
	<div>
		{{page.description}}<br>

	</div>
	<div id = "tyke">Get Tyke</div><br>
	<div id = "babyboo">Get Baby Boo</div><br>
	<div id = "bannanademocracy">Get Banana Democracy</div><br>
	<div id = "roughrider">Get Rough Rider</div><br>
	<div id = "carterclothing">Get Carter Clothing</div><br>
	<div id = "levimouse">Get Levi Mouse</div><br>
	<div id = "mousesomething">Get Mouse Something</div><br>
	<div id = "straussfrock">Get Strauss Frock</div><br>
</div>
{{{page.script}}}
