<div class="store">
<h1>{{page.header}}</h1>
</div>

<div class="row">
	<div class="col-md-6">
	<h2>Our Brands</h2>
	<p>Our company only picks the highest quality brands. We carefully select each brand based on their views.</p>
	<p><a class="btn btn-info btn-lg " href="/brand" role="button">Search Our Brands</a></p></div>
	<div class="col-md-6">
	<h2>Category</h2>
	<p>You can dress your whole family in one shop. From Children to Adult, we have it all.</p>
	<p><a class="btn btn-info btn-lg " href="/category" role="button">Search By Category</a></p>
	</div>
{{{page.script}}}
