 /**************** DEFAULTS **** DEBUGS *************************************************/
div{
    border:0px solid black;
}


/**************** CLASSES **************************************************************/
 .index{
 	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    text-shadow: 1px 1px grey;
    background: url(img/background.jpg) no-repeat center center;
    background-size: cover;
 	border-radius: 5px;
 }

 .index h1{
 	font-family: cursive;
 	font-size: 72px;
 }

 .index p{
 	padding-top: 20px;
 	font-size: 24px;
 	border: 1px black;
 }

 .store{
 	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #7fc7fd;
    text-shadow: 1px 1px black;
    background: url(img/store.jpg) no-repeat center center;
    background-size: cover;
 	border-radius: 5px;
 }

  .store h1{
 	font-family: cursive;
 	font-size: 72px;
 }

 .store p{
 	padding-top: 20px;
 	font-size: 24px;
 	border: 1px black;
 }
 .about-header{
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #7fc7fd;
    font-size: 48px;
    text-shadow: 1px 1px black;
    background: url(img/about.jpg) no-repeat, center, center;
    background-size: cover;
    border-radius: 5px;
 }
 .about-header p{
    margin-left: 5%; 
    color: #f8f8f8;
    padding-top: 10px;
    font-size: 24px;
    border: 1px black;
    width: 90%;

 }
 .about{
    margin-top: 20px;
 }
 .about p{
    padding-top: 20px;
    font-size: 30px;
    border: 1px black;
 }

 /************************ ID's  **********************************************************************************************/

 #bodyDiv{
    padding:5%;
 }
 #bioPic{
   border:1px solid black;  
    max-height: 100px;
 }
 #aboutUl{
    list-style: none;
 }
 #storeContent{
    padding:2%;

 }
 #storeByBrand{
    border:0px solid black;
    width:31%;
    margin-left:33%;


 }
 #storeByCategory{
    border:0px solid black;
    width:31%;
    margin-left:0%;
    margin-top:-22.5%;
 }
 #storeByPrice{
    border:0px solid black;
    width:31%;
    margin-left:66%;
    margin-top:-11.5%;

 }


























